form {
  padding: 15px;
  text-align: right;
  background-color: #999;
  margin-bottom: 20px;
  div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
label,
select,
input,
button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
label {
  margin-right: 5px;
  color: #eee;
  padding: 0 10px;
  width: 60px;
}
select {
  border: 0;
  width: 170px;
}
input,
button {
  border-radius: 5px;
  border: 0;
  padding: 0 5px;
}
input {
  width: 400px;
}
button {
  background-color: #c0d3ec;
}