body {
  font-family: 'PT Serif', serif;
  color: #666;
}
h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
  margin: 0 0 15px;
}
h3 {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1em;
}
a {
  color: #ff7f0e;
}