body {
  background-color: lighten(#eee, 4%);
}
.container {
  margin: 0 auto;
  padding: 0 2em;
  width: 100%;
  max-width: 768px;
}

.info {
  text-align: center;
  margin-bottom: 20px;
}
header,
footer {
  background-color: lighten(#666, 55%);
}
header {
  padding: 15px 0;
  margin-bottom: 40px;
}
footer {
  font-size: 0.9em;
  padding-bottom: 10px;
  margin-top: 2em;
  p {
    background-color: #999;
    color: #eee;
    padding: 10px;
  }
}
pre {
  border: 1px solid darken(#aec7e8, 2%);
  border-radius: 5px;
  padding: 15px;
  font-size: 11px;
  width: 50%;
  margin: 0 auto;
  background-color: lighten(#aec7e8, 14%);
}